:root { 
  --transition-speed-button: 300ms;
  --transition-speed-paragraph: 200ms;
}

/*General styling */
body {
  background: linear-gradient(to bottom, rgba(190, 2, 2), #000000);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
.navbar {
  background-color:rgba(0, 0, 0, 0.5);
  color: #fff;
}
.nav-link {
  transition: var(--transition-speed-button);
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #851d1d;
    color: #ececec;
}
.navbar .nav-link, .navbar .navbar-brand {
  color: #fff !important;
}
.container {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

/*Styling of content blocks */
.content {
  display: block;
}
.content-section {
  display: none;
}
.content-section.active {
  display: block;
}
.content-section.table {
  width: 100%;
  margin-bottom: 1rem;
}
.content-section.card {
  margin-top: 1rem;
  width: 100%;
}

/*Fading animation of the pages and buttons */
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in {
  animation: fadeIn var(--transition-speed-paragraph) linear forwards;
}
.fade-out {
  animation: fadeOut var(--transition-speed-paragraph) linear forwards;
}
.hidden {
  display: none;
}

/*Stylig for the GitHub repo cards */
.repo-card {
  margin-bottom: 20px;
}
.repo-card .card-body {
  text-align: center;
}
.repo-card .card-body h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.repo-card .card-body p {
  font-size: 0.9rem;
  color: #000000;
}
.repo-card .card-body a {
  text-decoration: none;
  color: #000000;
}
.repo-card img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

/*Styling for custom icons and similar */
.social-icon {
  text-decoration: none;
  font-size: 30px;
}
